.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem;
}

.blocks {
  display: flex;
}

.blocks div {
  margin-right: 5rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.square.entering {
  animation: square 1000ms ease-out forwards;
}

.square.exited {
  opacity: 0;
  transform: translateY(-100px);
}

.square.exiting {
  animation: square 500ms ease-in alternate-reverse;
}

.square.blue {
  background: cornflowerblue;
}

.square.orange {
  background: coral;
}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.os-enter {
  opacity: 0;
}

.os-enter-active {
  opacity: 1;
  /* Animation */
  transition: opacity 1s; 
}

/* .os.enter-done {
  transform: translateX(0);
} */

.os-exit {
  opacity: 1;
}

.os-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.os-exit-done {
  opacity: 0;
}